<!DOCTYPE html>
<html>
  <head>
    <title>FriendsConnectApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Friends Connect app</h1>
    <p> 〜写真共有アプリケーション〜 </p>
  </header>

  <body>
    <div class="container">
      <div class="row">
        <div class="col aligin-self-start">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
          <% if logged_in? %>
            <%= link_to "profile", user_path(current_user.id), class: "btn btn-outline-secondary" %>
            <%= link_to "Log out", session_path(current_user.id), method: :delete, class: "btn btn-outline-secondary" %>
          <% else %>
            <%= link_to "Sign up", new_user_path, class: "btn btn-outline-secondary" %>
            <%= link_to "Log in", new_session_path, class: "btn btn-outline-secondary" %>
          <% end %>
            </div>
          </nav>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
    <footer>
	<p>Copyright &copy; 2022 shota_suzuki.</p>
  </footer>
</html>
